<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--数据库文件，也可以选择引入外部数据库参数-->
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/book?characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </properties>
    <typeAliases>
        <package name="entity"/>
    </typeAliases>
    <!--配置连接数据库环境，每一个environment代表一个环境，包括本地，测试，上线-->
    <environments default="localhost">
        <environment id="localhost">
            <!--事务管理：使用jdbc进行事务管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源：pooled:mybatis自带的数据源，JNDI:Tomcat的数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!--以下只为演示-->
        <environment id="test">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
        <environment id="development">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>